*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
lib_smsmms_android/build
lib_smsmms_android/build/*
/captures
.externalNativeBuild
.cxx
*.aab
*.apk
local.properties
keystore.properties
*.jks
ks.passwd
venv/*
/release.properties
*.sw*
gradle.properties
*.tmp.sh
*.logs
/app/.idea/.gitignore
/app/.idea/appInsightsSettings.xml
/app/.idea/caches/deviceStreaming.xml
/app/.idea/gradle.xml
/app/.idea/migrations.xml
/app/.idea/misc.xml
/app/.idea/runConfigurations.xml
/app/.idea/vcs.xml
