*.iml
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
double_ratchet/build
double_ratchet/build/*
/captures
.externalNativeBuild
.cxx
*.aab
*.apk
local.properties
keystore.properties
*.jks
ks.passwd
venv/*
/release.properties
*.sw*
gradle.properties
*.tmp.sh
*.logs
double_ratchet/.idea/.gitignore
double_ratchet/.idea/appInsightsSettings.xml
double_ratchet/.idea/caches/deviceStreaming.xml
double_ratchet/.idea/gradle.xml
double_ratchet/.idea/migrations.xml
double_ratchet/.idea/misc.xml
double_ratchet/.idea/runConfigurations.xml
double_ratchet/.idea/vcs.xml
